{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'score.js') }}"></script>

<script>
    let user_score = {{score|tojson}};
    let total = {{total|tojson}};
</script>
<div class="container-fluid">
    <div class='row justify-content-md-center'>
        <div class="col-md-auto" id="score_title">

        </div>
    </div>
    <div class='row justify-content-md-center'>
        <div class="col-md-auto" id="score_grade">

        </div>
    </div>
    <div class='row justify-content-md-center'>
        <div class="col-md-auto" id="score_des">

        </div>
    </div>
    <div class='row justify-content-md-center'>
        <div class="col-md-auto" id="score_pict">
            <br><img src="https://st2.depositphotos.com/4071863/5889/v/600/depositphotos_58896203-stock-illustration-congratulations-typography-lettering-text-card.jpg" alt="quiz score image">
        </div>
    </div>
    <br>
    <div class='row justify-content-md-center'>
        <div class="col-md-auto" id="restart_button_div">

        </div>
    </div>
</div>

{% endblock %}